/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #396afc, #2948ff);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

h1 {
    font-size: 36px;
    margin: 20px 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: 300px;
}

.cell {
    width: 98px;
    height: 88px;
    font-size: 36px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s;
}
.cell:active{
    background-color: red;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.message {
    font-size: 24px;
    margin-top: 20px;
    color: #f0f0f0;
}

#new-game-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #7788bd;
    color: #4343be;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

#new-game-button:hover {
    background-color: #bdbaba;
}
